:root {
    --red: rgb(247, 72, 72);
    --orange: rgb(241, 181, 68);
    --yellow: rgb(255, 255, 95);
    --green: rgb(18, 168, 80);
    --blue: rgb(0, 110, 255);
    --purple: rgb(155, 27, 118);
    --pink: rgb(235, 121, 193);
   --black: rgb(20, 19, 19);
   --white:white;
}


body {
    box-sizing: border-box;
    margin: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    cursor: url("kwast.png") 15 100, pointer;
}

body>div:nth-of-type(1) div {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:var(--white);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: .1em;
    width: max-content;
    gap: .5em;
    padding: 1em;
    margin: 1em;
    

}

#kleurPalette {
    height: 5em;
    width: 5em;
    /* border-radius: 41% 68% 46% 80% / 68% 48% 70% 63%; */
    border: none;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
    
    -webkit-appearance: none;
    appearance: none;
}

input[value="white"]{
    background-color: var(--white);
}
input[value="black"]{
    background-color: var(--black);
}

input[value="red"] {
    background-color: var(--red);
}

input[value="orange"] {
    background-color: var(--orange);
    /* transform: translate(5.5em, -.5em); */
}

input[value="yellow"] {
    background-color: var(--yellow);
    /* transform: translate(10em, 0); */
}

input[value="green"] {
    background-color: var(--green);
    /* transform: translate(12em, 1em); */
}

input[value="blue"] {
    background-color: var(--blue);
    /* transform: translate(10em, 1.5em); */
}

input[value="purple"]{
    background-color: var(--purple);
    /* transform: translate(5em, .5em); */
}

input[value="pink"] {
    background-color: var(--pink);
    /* transform: translate(-1em, -1em); */
}

body>div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(100, .7em);
    border: 1em solid black;
    width: max-content;
    margin: 1em;
    /* mask: radial-gradient(20px at 10vh 10vh, transparent 98%, black) -10vh -10vh; */
    
}

 
div:nth-of-type(2)>div {
    aspect-ratio: 1;
    border: 0 solid black;
    transition: background-color 10000000s;
}

div:nth-of-type(2)>div:hover {
    /* background-color: var(--purple); */
    transition: background-color .08s ease;
}

body:has( input[value="white"]:checked) div:nth-of-type(2)> div:hover {
    background-color: white;
    transition: background-color .01s ease;
}

body:has(div:nth-of-type(1) input[value="red"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--red);
}

body:has(div:nth-of-type(1) input[value="orange"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--orange);
}

body:has(div:nth-of-type(1) input[value="yellow"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--yellow);
}

body:has(div:nth-of-type(1) input[value="green"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--green);
}

body:has(div:nth-of-type(1) input[value="blue"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--blue);
}

body:has(div:nth-of-type(1) input[value="purple"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--purple);
}

body:has(div:nth-of-type(1) input[value="pink"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--pink);
}

body:has(div:nth-of-type(1) input[value="black"]:checked) div:nth-of-type(2)>div:hover {
    background-color: var(--black);
}
